[submodule "aarch64"]
	path = aarch64
	url = https://github.com/Jawor245/aarch64
[submodule "arm"]
	path = arm
	url = https://github.com/Jawor245/arm
[submodule "drivers/staging/qcacld-2.0"]
	path = drivers/staging/qcacld-2.0
	url = https://github.com/MisterJaworro/qcacld-2.0.git
